.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 163%;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0 auto;
        line-height: 163%;
        padding-bottom: 25px;
    }
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

